<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="test/bootstrap-integration.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="integration">
            <directory suffix="Test.php">test/integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- wp-env path. Override for DDEV: WP_PHPUNIT__TESTS_CONFIG=/var/www/html/wp-config.php -->
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="/var/www/html/wp-config.php"/>
    </php>
</phpunit>
